

 /* copy-paste all of 'example.css from libs/' */
@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700);

.large {                /* my mod */
  font-size: 250% 
}
.medium {                /* my mod */
  font-size: 170% 
}
.larger {                /* my mod */
  font-size: 140% 
}

.remark-slide-content { /* my mod */
  background-size: contain; 
}
.normal { /* my mod */
  background-color: black;
  color: yellow;
}
body { font-family: 'Open Sans', sans-serif; 
}
h1, h2, h3 {
  font-family: 'Yanone Kaffeesatz';
  font-weight: normal;    
  color: #d6d6d6;
}
a, a > code {
  color: rgb(249, 38, 114);
  text-decoration: none;
}
.footnote {
  position: absolute;
  bottom: 3em;
  padding-right: 4em;
  font-size: 90%;
}
.remark-code, .remark-inline-code { font-family: 'Source Code Pro', 'Lucida Console', Monaco, monospace; }
.remark-code-line-highlighted     { background-color: #ffff88; }

.inverse {
  background-color: #272822;
  color: #d6d6d6;
  text-shadow: 0 0 20px #333;
}
.inverse h2, .inverse h3 {      /* my mod: small author and date */
  color: #f3f3f3;
}
.inverse h1  {                  /* my mod: big title */
  color: #f3f3f3;
  line-height: 1.0em;
  font-size: 6.0em;
}
/* Two-column layout */
.left-column {
  color: #777;
  width: 20%;
  height: 92%;
  float: left;
}
.left-column h2:last-of-type, .left-column h3:last-child {
  color: #000;
}
.right-column {
  width: 75%;
  float: right;
  padding-top: 1em;
}
.pull-left {
  float: left;
  width: 47%;
}
.pull-right {
  float: right;
  width: 47%;
}
.pull-right ~ * {
  clear: both;
}
img, video, iframe {
  max-width: 100%;
}
blockquote {
  border-left: solid 5px lightgray;
  padding-left: 1em;
}
table {
  margin: auto;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}
table thead th { border-bottom: 1px solid #ddd; }
th, td { padding: 5px; }
thead, tfoot, tr:nth-child(even) { background: #eee }

@page { margin: 0; }
@media print {
  .remark-slide-scaler {
    width: 100% !important;
    height: 100% !important;
    transform: scale(1) !important;
    top: 0 !important;
    left: 0 !important;
  }
}
